.sidebar-container{
  background-color: #15294B;
    color: white;
}

.icon-container{
  text-align: center;
  padding: 1rem;
}


a{
  text-decoration: none;
  color: white;
}

/* a:hover{
  background-color: grey;
} */

/* .icon-container:hover {
  background-color: #E0E6F2;
  color: #15294B;
} */

.sidebar-active{
  background-color: #E0E6F2;
  color: #15294B;
}