.header-container{
  background-color: #15294B;
  color: white;
  display: flex;
  align-items: center;
  padding: 1rem;
}

/* .header-wrapper {
  position: relative;
} */

#header-container-h2{
  margin-left: 6rem;
  /* margin-right: 2rem; */
}
#header-container-h3{
  margin-left: 4rem;
  margin-right: 1rem;
}

.arrow-icon{
  cursor: pointer;
}

/* .header-dropdown-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
} */