.home-wrapper{
  height: 100%;
  background-color: #F2F6FF;
  
}
.home-container{
  padding: 1.5rem 3rem;
}

.upcoming-certification-container{
  background-color: white;
  border: 2px solid #CCEEFF;
  padding: 1rem;
  margin: 0.8rem 0;
  border-radius: 5px;
  max-width: 70vw;
}

.analysis-container{
  display: flex;
}

.analysis-content{
  margin: 0.8rem;
}

#analysis-img{
  width: 75px;
  height: 75px;
  margin: 1rem;
}

#analysis-certificate-p{
  background-color: #F5F5F5;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 11px;
  color: #8192AD;
}

#analysis-status-p{
  background-color: #CCEEFF;
  text-align: center;
  border-radius: 10px;
  margin-top: 11px;
}

.round1-container{
  display: flex;
}

.round2-container{
  display: flex;
}
.exam-structure-container{
  margin: auto;
}
.exam-structure-container p{
  margin-bottom: 10px;
  
}
.exam-structure-active-p{
  background-color: #DFE6F2;
  border-radius: 1rem;
  margin-right: 1rem;
  padding: 5px;
  color:black;
}

.round1-container {
  text-align: center;
  margin-bottom: 4px;
} 

.exam-detail-btn{
  margin: auto;
}

.exam-detail-btn button{
  background-color: transparent;
  color: #1C97FF;
  padding: 1rem;
  border: 1px solid #1C97FF;
  border-radius: 2rem;
  font-size: large;
  cursor: pointer;
}
.module-detail-container{
  display: flex;
  background-color: white;
  margin-top: 10px;
  border: 2px solid #CCEEFF;
  border-radius: 1rem;
  padding: 2rem;
}

.data-wrangling-container{
  display: flex;
  margin-bottom: 1rem;
  
}
.data-wrangling-container img{
  height: 55px;
  width: 55px;
  padding-right: 10px;
}
.instructor-container{
  display: flex;
}

.module-detail{
  display: flex;
  margin-bottom: 0.2rem;
}

.today-plan-container{
  margin-left: 5rem;
}

.live-session-btn {
  background-color: #EFEFEF;
  color: #000000;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.continue-learning-container{
  display: flex;
}
.progress-overview-container{
  width: 20vw;
  background-color: white;
    margin-top: 10px;
    margin-left: 3rem;
    border: 2px solid #CCEEFF;
    border-radius: 1rem;
    padding: 2rem 2rem;

  }
  .attendance-container, .grade-container{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
   border: 1px solid #008BFF;
   border-radius: 1rem;
   margin: 0.8rem 0rem;
   padding: 0.2rem 1rem;
}