.module-slider-container{
  background-color: #E0E6F2;
  color: darkblue;
  max-width: 13rem;
  /* padding: 1rem; */
}

.module-slider-div{
  display: flex;
  color: #15294B;
  align-items: center;
  padding: 1rem;
}
.module-slider-div p{
  padding-left: 1rem;
}

.module-slider-div:hover{
  background-color: #CBD3E1;
  border-radius: 1rem;
}

.active{
  background-color: #CBD3E1;
    border-radius: 1rem;
}